files
extract_gmail.py
files_from_email
data
__pycache__
intercunhados_data
keys.env
code_list_v01.csv
credentials.json
output_files
temp
codes
logs
outputs
ficheiros_rejeitados
ficheiros_extraidos
resultados
build
app.spec
test.ipynb
